---
import * as styles from './IntroScreen.css'
import Container from '@components/layout/Container.astro'
import fallbackImage from '@assets/images/blog-placeholder-2.jpg'
import BackgroundContentContainer from '@components/layout/BackgroundContentContainer.astro'
import type { DefaultComponentProps } from '@models'
import VideoSampleCard from './partials/VideoSampleCard.astro'
import { Image } from 'astro:assets'
import EventQuickLink from './partials/EventQuickLink.astro'
import Logo from '@components/BandLogo.astro'
import background from '@assets/images/background.jpg'

interface Props extends DefaultComponentProps {}

const videoSource = '/media/promo.mov'

const { id, classNames } = Astro.props
---

<BackgroundContentContainer
  id={id}
  class:list={[classNames]}
  isParallax={false}
>
  <video
    slot="background"
    class={styles.backgroundVideo}
    width="1920"
    height="1080"
    autoplay
    muted
    loop
  >
    <source src={videoSource} type="video/mp4" />
    <Image
      src={fallbackImage}
      alt="Your browser does not support video playback."
    />
  </video>
  <div class:list={[styles.fullscreen, styles.typography]}>
    <Logo classNames={styles.bandLogo} form="full" color="white" />
    <Container classNames={[styles.introContent]}>
      <VideoSampleCard videoUrl="https://youtube.com" />
      <EventQuickLink />
    </Container>
  </div>
</BackgroundContentContainer>
