---
import Container from '@components/layout/Container.astro'
import * as styles from './EventScreen.css'
import Heading from '@components/typography/Heading.astro'
import type { DefaultComponentProps } from '@models'
import { getCollection } from 'astro:content'
import EventItem from './partials/EventItem.astro'
import ViewBox from '@components/layout/ViewBox.astro'

interface Props extends DefaultComponentProps {}

const { id, classNames } = Astro.props
const allEvents = await getCollection('events')
  .then((events) =>
    events
      .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  )
const upcomingEvents = allEvents
  .filter((event) => event.data.date.valueOf() >= Date.now().valueOf())
const pastEvents = allEvents
  .filter((event) => event.data.date.valueOf() < Date.now().valueOf())
---

<section id={id} class:list={[styles.eventScreen, classNames]}>
  <Container>
    <ViewBox>
      {
        upcomingEvents.length > 0 &&
          <Heading level="2">Unsere nächsten Auftritte</Heading>
          <div class={styles.eventList}>
            {upcomingEvents.map((event) => <EventItem eventEntry={event} />)}
          </div>
      }
      {
        pastEvents.length === 0 && 
          <Heading level="2">Vergange Konzerte</Heading>
          <div class={styles.eventList}>
            {pastEvents.map((event) => <EventItem eventEntry={event} />)}
          </div>
      }
    </ViewBox>
  </Container>
</section>
