---
import type { DefaultComponentProps } from '@models'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import * as styles from './EventItem.css'
import instruments from '@assets/logos/band/instruments.svg'
import Heading from '@components/typography/Heading.astro'
import { Image } from 'astro:assets'
import { slugify } from '@utils/content/slug'

interface Props extends DefaultComponentProps {
  eventEntry: CollectionEntry<'events'>
}

const { eventEntry } = Astro.props
const event = eventEntry.data

var eventLocation =
  event.location?.id &&
  (await getEntry('locations', event.location.id)?.then(
    (location) => location.data.name
  ))
---

<a
  href={`events/${slugify(eventEntry.data.title, eventEntry.data.date.toLocaleDateString())}`}
>
  <div class:list={styles.eventItem}>
    <Image
      class={styles.heroImage}
      src={event.heroImage ?? instruments}
      alt={event.title}
    />
    <div class={styles.content}>
      <Heading classNames={styles.title} level="4" isCapitalized={true}
        >{event.title}</Heading
      >
      <div class={styles.description}>
        {event.description}
      </div>
      <time class={styles.date}>{new Date(event.date).toLocaleDateString('de-de')}</time>
      <time
        >{
          new Date(event.date).toLocaleTimeString('de-de', {
            hour: '2-digit',
            minute: '2-digit',
          })
        } Uhr</time
      >
      {eventLocation && <div>{eventLocation}</div>}
    </div>
  </div>
</a>
