---
import type { DefaultComponentProps } from '@models'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import * as styles from './EventItem.css'
import instruments from '@assets/logos/band/instruments.svg'
import Heading from '@components/typography/Heading.astro'
import { slugify } from '@utils/content/slug'
import DateDisplay from '@components/typography/datetime/DateDisplay.astro'
import TimeDisplay from '@components/typography/datetime/TimeDisplay.astro'
import ImageHoverZoom from '@components/layout/image/ImageHoverZoom.astro'

interface Props extends DefaultComponentProps {
  eventEntry: CollectionEntry<'events'>
}

const { eventEntry } = Astro.props
const event = eventEntry.data

var eventLocation =
  event.location?.id &&
  (await getEntry('locations', event.location.id)?.then(
    (location) => location.data.name
  ))
---

<a
  href={`events/${slugify(eventEntry.data.title, eventEntry.data.date.toLocaleDateString())}`}
>
  <div class:list={styles.eventItem}>
    <ImageHoverZoom
      classNames={styles.heroImage}
      src={event.heroImage ?? instruments}
      alt={event.title}
    />
    <div class={styles.content}>
      <Heading classNames={styles.title} level="4" isCapitalized={true}
        >{event.title}</Heading
      >
      <div class={styles.description}>
        {event.description}
      </div>
      <DateDisplay date={event.date} classNames={styles.date} />
      <TimeDisplay date={event.date} />
      {eventLocation && <div>{eventLocation}</div>}
    </div>
  </div>
</a>
