---
import type { DefaultComponentProps } from '@models'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import * as styles from './EventItem.css'
import instruments from '@assets/logos/band/instruments.svg'

interface Props extends DefaultComponentProps {
  event: CollectionEntry<'events'>['data']
}

const { event } = Astro.props

var location =
  event.location?.id &&
  (await getEntry('locations', event.location.id)).data.name
---

<div class:list={styles.eventItem}>
  <img class={styles.heroImage} src={event.heroImage?.src ?? instruments.src} alt={event.title} />
  <div class={styles.content}>
    <h3>{event.title}</h3>
    <div>
      {event.description}
    </div>
    <time>{new Date(event.date).toLocaleDateString('de-de')}</time>
    {location && <div>{location}</div>}
  </div>
</div>
