---
import type { DefaultComponentProps } from '@models'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import * as styles from './EventItem.css'
import { Image } from 'astro:assets'
import instruments from '@assets/logos/band/instruments.svg'

interface Props extends DefaultComponentProps {
  event: CollectionEntry<'events'>['data']
}

const { event } = Astro.props

var location = event.location && (await getEntry(event.location)).data.name
---

<div class={styles.eventItem}>
  <Image src={event.heroImage ?? instruments} alt={event.title} />
  <h3>{event.title}</h3>
  <div>
    {event.description}
  </div>
  <time>{event.date.toLocaleDateString('de')}</time>
  {location && <div>{location}</div>}
</div>
