---
import type { DefaultComponentProps } from '@models'
import {
  wrapper,
  fixedBackgroundContainer,
  parallaxContainer,
  fallbackContainer,
  backgroundImage,
  contentContainer } from './BackgroundImageParallax.css'
import { Image } from 'astro:assets'

interface Props extends DefaultComponentProps {
  image: ImageMetadata | Promise<{
    default: ImageMetadata
  }>,
  alt: string,
}

const {
  id,
  classNames,
  image,
  alt,
} = Astro.props
---

<div id={id} class:list={[wrapper, classNames]}>
  <div class={fixedBackgroundContainer}>
    <div class:list={[parallaxContainer, fallbackContainer]}>
      <Image
        src={image}
        class:list={[backgroundImage]}
        alt={alt}
      />
    </div>
  </div>
  <div class={contentContainer}>
    <slot />
  </div>
</div>
