---
import type { DefaultComponentProps } from "@models"
import * as styles from "./BackgroundContentContainer.css"

interface Props extends DefaultComponentProps {
  isParallax?: boolean;
}

const { 
    id,
    classNames,
    isParallax = false,
} = Astro.props;

const container = isParallax ? [styles.parallaxContainer, styles.fallbackContainer] : styles.fixedContent;
const content = isParallax ? styles.parallaxContent : styles.fixedContent;
---

<div id={id} class:list={[styles.wrapper, classNames]}>
  <div class={styles.fixedBackgroundContainer}>
    <div class:list={container}>
      <div class={content}>
        <slot name="background" />
      </div>
    </div>
  </div>
  <div class={styles.foregroundContainer}>
    <slot />
  </div>
</div>
