---
import { BAND_NAME } from 'src/consts'
import * as styles from './Footer.css'
import SocialLink from '@components/navigation/socials/SocialLink.astro'

const today = new Date()
---

<footer class={styles.footer}>
  <p class={styles.copyrightDisclaimer}>
    &copy; {today.getFullYear()}
    {BAND_NAME}. All rights reserved.
  </p>
  <div class={styles.socialLinks}>
    <SocialLink type="instagram" label="Instagram" color='secondaryLight' />
    <SocialLink type="facebook" label="Facebook" color='secondaryLight' />
    <SocialLink type="youtube" label="Youtube" color='secondaryLight' />
    <SocialLink type="qrcode" label="Virtuelle Visitenkarte" color='secondaryLight' />
  </div>
</footer>
